body{
	background-image: url(../img/fofondo-01.png);
	max-width: 80%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 18%;
	background-color: ;
}
#section_one{
	color: white;
}
.analyze{
	background-color: #4BBBD8;
	border: 2px solid #4BBBD8;
	color: white;
	padding: 5px;
	margin-left: -8%;
	margin-top: 2%;
}
.analyze:hover{
	background-color: transparent;
	border: 2px solid white;
}
.analyze:focus{
	outline: none;
}
#inputImage{
	background-color: transparent;
	border: 2px solid white;
	padding: 5px 0 ;
}
#inputImage:focus{
outline: none;
}
#fichero{
	color: white;
}
.fichero_input { /*ocultar texto al lado */
  visibility: hidden;
  width: 0;
  position: relative;
}
.fichero_input::before {
  content: 'Selecciona tu foto';
  display: inline-block;
  background-color: transparent;
	border:2px solid white;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  visibility: visible;
  position: absolute;
}
.fichero_input:hover::before {
 	background-color: #4BBBD8;
	border: 2px solid #4BBBD8;
}
.fichero_input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.buttons{
	margin-top: 3%;
	vertical-align: middle;
}
.inp_img{
	margin-left: 31%;
}
.fich{
	margin-left:4%;
}

#img-container{
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}
.img-desktop{
	padding: 4%;
	margin:auto;
}
.holo{
	margin-top: 4%;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 5px;
  background-color: #4CAF50;
}
body {
  font-family: 'Ubuntu', sans-serif;
  width:960px;
}

p{
  color:#525252;
  font-size:12px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
